doctype html
html
  head
    title Installing SuperScript
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'starter'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include how-it-works-content.md

    include ../includes/footer