doctype html
html
  head
    title Installing SuperScript
    include ../_includes/head
  body.inner
    section.content
      header
        - active = 'starter'
        include ../_includes/header
      include ../_includes/mixins
      #overlay

      article!= partial("how-it-works-content.md")

    include ../_includes/footer
