doctype html
html
  head
    title SuperScript QuickStart
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'starter'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include quickstart-content.md

    include ../includes/footer