doctype html
html
  head
    title SuperScript QuickStart
    meta(name="description" content="SuperScript Quickstart guide. Create ChatBots with real AI.")
    include ../_includes/head
  body.inner
    section.content
      header
        - active = 'starter'
        include ../_includes/header
      include ../_includes/mixins
      #overlay

      article!= partial("quickstart-content.md")

    include ../_includes/footer
