doctype html
html
  head
    title SuperScript Documentation
    include ../_includes/head
  body.inner
    section.content
      header
        - active = 'guide'
        include ../_includes/header
      include ../_includes/mixins
      #overlay
      #sidebar-wrapper.stick
        ul
          li.heading
            a Library API
          li
            a(href="#bot") Bot Class
          li
            a(href="#events") Events
          li
            a(href="#example") Example
          
          
      #content
        include _library-content.md

    include ../_includes/footer